.ContactForm .login {
    color: #1259c4;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
}

.ContactForm .card {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 350px;
    flex-direction: column;
    gap: 35px;
    background: #dde1e7;
    box-shadow: 16px 16px 32px #8382829c,
        -16px -16px 32px #8585858f;
    border-radius: 8px;
}

.ContactForm .inputBox {
    position: relative;
    width: 250px;
}

.ContactForm .inputBox input,
.ContactForm .inputBox textarea {
    width: 100% !important;
    padding: 10px;
    outline: none;
    border: none;
    color: #1259c4;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #1259c4;
    border-bottom: 2px solid #1259c4;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.ContactForm .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #1259c4;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;

    transform: translateY(-43px);
    -webkit-transform: translateY(-43px);
    -moz-transform: translateY(0px);
}

.ContactForm .inputBox input:valid~span,
.ContactForm .inputBox input:focus~span{
    font-size: 0.8em;
    padding: 5px 10px;
    background: #1259c4;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;

    transform: translateX(113px) translateY(-58px);
    -webkit-transform: translateX(113px) translateY(-58px);
    -moz-transform: translateX(130px) translateY(-17px);
}

.ContactForm textarea{
    resize: none !important;
}



.ContactForm .inputBox textarea:valid~span,
.ContactForm .inputBox textarea:focus~span {
    transform: translateX(113px) translateY(-120px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #1259c4;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;

    transform: translateX(113px) translateY(-120px);
    -webkit-transform: translateX(113px) translateY(-120px);
    -moz-transform: translateX(140px) translateY(-15px);
}



.ContactForm .inputBox input:valid,
.ContactForm .inputBox input:focus,
.ContactForm .inputBox textarea:focus,
.ContactForm .inputBox textarea:valid {
    border: 2px solid #6b79f8;
    border-radius: 8px;
}


.ContactForm .inputBox.textarea span {
    transform: translateY(-43px);
    -webkit-transform: translateY(-43px);
    -moz-transform: translateY(52px);
}