.Usuario{
    margin: 15px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 96px 1fr 1fr 96px ;
    background-color: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    border: 3px solid gray;
}



.Usuario .ctPicture{
    display: flex;
    color: white; 
    justify-content: center;
    align-items: center;
    border-right: 3px solid gray ;
}


.Usuario .ctPicture img{
    display: flex;
    flex: 1;
    height: 96px;
    padding: 5px;
}
.Usuario .ctNameAndPhone{
    display: flex;
    flex-direction: column;
    border-right: 3px solid gray ;
    border-left: 3px solid gray ;
}



.Usuario .ctNameAndPhone .ctName, .Usuario .ctNameAndPhone .ctPhone{
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 5px;
    font-size: 25px;
}

.Usuario .ctNameAndPhone .ctName{
    border-bottom: 1px solid gray ;
}

.Usuario .ctRole{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    border-right: 3px solid gray ;
}


.Usuario .ctDeleteAndTools{
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.Usuario .ctDeleteAndTools .lineDivider{
    width: 100% ;
    height: 1px;
    background-color: gray  ;
}


.Usuario .ctDeleteAndTools .ctDelete{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1px;    
    border-radius: 5px ;
    border: 1px solid transparent;
}

.Usuario .ctDeleteAndTools .ctDelete:hover {
    border: 1px solid gray;
}

.Usuario .ctDeleteAndTools .ctDelete:active{
    box-shadow: gray 1px 1px 5px  inset;       
}

.Usuario .ctDeleteAndTools .ctTools{
    display: flex;
    flex: 1 ; 
    justify-content: center;
    align-items: center;
    border-radius: 5px ;
    margin: 1px;
    cursor: pointer;
    border: 1px solid transparent;
}

.Usuario .ctDeleteAndTools .ctTools:hover {
    border: 1px solid gray;
}

.Usuario .ctDeleteAndTools .ctTools:active{
    box-shadow: gray 1px 1px 5px  inset;       
}

.Usuario .ctDeleteAndTools .ctDelete > * {
    width: 48px;
    height: 48px;
    color: rgb(214, 85, 85);
}



.Usuario .ctDeleteAndTools .ctTools > * {
    width: 48px;
    height: 48px;
    color: rgb(85, 190, 214);
}