html,
body {
    box-sizing: border-box;
    max-width: 100vw !important;
    max-height: 100vh !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
    padding: 0px !important;
    margin: 0px !important;
}

.App {
    min-width: 100vw !important;
    max-width: 100vw !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
    overflow-y: auto;
}

