.Categoria{
    display: grid;
    width: 100% ;
    margin: 5px;
    border: 1px solid black;
    grid-template-columns: 1fr 96px;
}


.Categoria .ctName{
    border: 1px solid black;
}

.Categoria .ctOptions{
    border: 1px solid black;
    display: flex ; 
    flex-direction: column;
}



.Categoria .ctOptions .ctDelete{
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(185, 61, 61);
    cursor: pointer;
}

.Categoria .ctOptions .ctTools{
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(104, 105, 106);
    cursor: pointer;
}
