.Atenciones{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}



.Atenciones .ctEstadisticas{
    background-color: rgb(117, 117, 227);
    border-radius: 7px;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    height: auto;
    margin-bottom: 10px ;   
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


.Atenciones .ctEstadisticas > div{
    width: 25%;
    /* border: 1px solid black ; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


.Atenciones .ctEstadisticas .ctNumber{
    border-radius: 5px;
    background-color: rgb(21, 163, 116);
    width: 200px;
    height: 100px;
    color: whitesmoke;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    cursor: pointer;
}

.Atenciones .ctEstadisticas .ctAddAtenciones{
    border-radius: 5px;
    background-color: rgb(192, 143, 52);
    min-width: 200px;
    height: 100px;
    color: whitesmoke;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    cursor: pointer;
}

.Atenciones .ctEstadisticas .ctUpdate{
    border-radius: 5px;
    background-color: rgb(21, 149, 163);
    width: 200px;
    height: 100px;
    color: whitesmoke;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    cursor: pointer;
}
 
.Atenciones .ctEstadisticas .ctUpdate .ctLabel{
    margin-left: 10px;
}

.Atenciones .ctEstadisticas .ctAddAtenciones:hover , .Atenciones .ctEstadisticas .ctUpdate:hover{
      box-shadow: -3px -3px 17px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
}


.Atenciones .ctEstadisticas .ctAddAtenciones:active , .Atenciones .ctEstadisticas .ctUpdate:active{
      box-shadow: -3px -3px 17px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288) inset;
}

.Atenciones .ctAtenciones{
    display: flex;
    flex-direction: column;
    background: -moz-linear-gradient(rgb(117, 117, 227), rgb(28, 28, 73));
    background: -webkit-linear-gradient(rgb(117, 117, 227), rgb(28, 28, 73));
    background: -o-linear-gradient(rgb(117, 117, 227), rgb(28, 28, 73)) ;
    border-radius: 7px;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    height: 100% ;
    overflow-y: scroll;
}   