.ctUsuarios{
    flex: 1 ; 
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.ctUsuarios .ctProperties{
    background-color: rgb(117, 117, 227);
    border-radius: 7px;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    height: auto;
    margin-bottom: 10px ;   
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.ctUsuarios .ctProperties > div{
    width: 25%;
    /* border: 1px solid black ; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.ctUsuarios .ctProperties .ctNumber{
    border-radius: 5px;
    background-color: rgb(21, 163, 116);
    width: 200px;
    height: 100px;
    color: whitesmoke;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    cursor: pointer;
}

.ctUsuarios .ctProperties .ctUpdate{
    border-radius: 5px;
    background-color: rgb(21, 149, 163);
    width: 200px;
    height: 100px;
    color: whitesmoke;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    cursor: pointer;
}

.ctUsuarios .ctProperties .ctUpdate .ctLabel{
    margin-left: 10px;
}

.ctUsuarios .ctProperties .ctUpdate:hover{
    box-shadow: -3px -3px 17px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.ctUsuarios .ctProperties .ctUpdate:active{
    box-shadow: -3px -3px 17px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288) inset;
}

.ctUsuarios .ctUsers{
    background: -moz-linear-gradient(rgb(117, 117, 227), rgb(28, 28, 73));
    background: -webkit-linear-gradient(rgb(117, 117, 227), rgb(28, 28, 73));
    background: -o-linear-gradient(rgb(117, 117, 227), rgb(28, 28, 73)) ;
    border-radius: 7px;
    box-shadow: -3px -3px 7px #4d494973, 2px 2px 5px rgba(94, 104, 121, 0.288);
    height: 100% ;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 0px;
}

.ctChangeRol{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ctChangeRol .changeRolTitle{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 1px solid rgb(64, 58, 58);
    margin-bottom: 15px;
}

.ctChangeRol .rolItem{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid transparent;
}

.ctChangeRol .rolItem:hover{
    border: 1px solid black ;
}


.ctChangeRol .rolItem:active{
    box-shadow: gray 2px 2px 15px inset;
}


