.WindowBorderTop{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
}


.WindowBorderTop .btBack{
    cursor: pointer;
}


.WindowBorderTop .btClose{
    cursor: pointer;
}



