.WindowBorderTop{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 800;
}



.WindowBorderTop .btBack{
    cursor: pointer;
}


.WindowBorderTop .btBack > *{
    color: gray; 
    font-weight: 800;
    font-size: 30px;
}


.WindowBorderTop .btClose{
    cursor: pointer;
}


.WindowBorderTop .btClose > *{
    color: gray; 
    font-weight: 800;
    font-size: 30px;
}


