.Inicio{
    /* border: 1px solid black; */
    /* height: 100vh; */
    display: flex;
    /* background-color: aliceblue; */
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    min-height: 100vh;
}

.Inicio .ct1{
    width: 90%;
    height: calc(80vh - 50px);
    background: url('./src/assets/background/background12.jpg') no-repeat center/cover;
    background-size: 100% 100%;
    z-index: 1;
}


.Inicio .ct2{
    /* border: 1px solid black; */
    width: 80%;
    height: calc(30%);
    display: flex;
    margin-top: -55px;
    background: white;
    box-shadow: 3px 3px 10px gray;
    border-radius: 5px ;
    z-index: 2;
}